<div class="container">
  <div class="card-cocktail">
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill if @cocktail.photo.attached? %>
    <div class="card-cocktail-info">
      <div>
        <h2><%= @cocktail.name %></h2>
        <br>
        <p><% @cocktail.doses.each do |dose| %>
          <%= dose.ingredient.name %>,
          <%= dose.description %>
          <%= link_to dose_path(dose), method: :delete, data: { confirm: "Delete this ingredient?" } do %>
          <i class="far fa-times-circle"></i></p>
          <% end %>
        <% end %>
      </div>
      <%= link_to 'Add Another Ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-secondary" %>
    </div>
  </div>
</div>
