<div class="container">
  <h1><%= @cocktail.name %></h1>

  <div class="card">
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.ingredient.name %>,
          <%= dose.description %>
          <%= link_to 'Delete Dose', dose_path(dose), method: :delete, data: { confirm: "Delete this ingredient?" }%> 
        </li><i class="far fa-times-circle"></i>
      <% end %>
    </ul>
    <%= link_to 'Add Another Ingredient', new_cocktail_dose_path(@cocktail) %>
  </div>
</div>